@import url('../index.css');

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 120px;
    overflow: hidden;
    
}

@keyframes roll_image {
    0% {
        transform: rotate(0);
    }
    
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}
.about-me {
    color: white;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    > #presentation , #text-aboutme{
        font-size: 24px;
    }
    > #name {
        font-size: 30px;
    }
    > #text-aboutme{
        font-size: 20px;
        width: 500px;
    }
    > img {
        width: 42px;
        height: 42px;
        animation: roll_image  2.5s infinite;
    }
}

.social-midias {
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 25px;

    button {
        width: 165px;
        height: 55px;
        background-color: white;
        border: none;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        

        color: #92A7C8;
        font-size: 25px;
        cursor: pointer;

    }
    
    a {
        width: 165px;
        text-decoration: none;
    }

    img {
        width: 28px;
        height: 28px;
    }
    
}

button:hover {
    transform: scale(1.02);
}

.photo-perfil img{
    width: 270px;
    height: 350px;
    background-color: white;
    border-radius: 12px;
    position: relative; 
    right: 18px; 
    z-index: 1; 
}

.photo-efect {
    border: 3px solid white;
    position: absolute; 
    right: 100px; 
    top: 64px; 
    z-index: 0; 
    width: 270px;
    height: 350px;
    border-radius: 12px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 52px;
    }

    .about-me {
        padding: 0;
    }

    .about-me > #name {
        font-size: 28px;
    }

    .about-me > #text-aboutme {
        width: 100%;
        max-width: 250px;
    }

    .social-midias {
        gap: 15px;
    }

    .social-midias button {
        width: 125px;
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: #92A7C8;
        font-size: 15px;
        cursor: pointer;
    }

    .social-midias a {
        width: 165px;
        text-decoration: none;
    }

    .photo-perfil,
    .photo-efect {
        display: none;
    }

    
}

@media screen and (max-width: 480px) {
    body {
        padding: 20px;
    }

    .about-me > #name {
        font-size: 24px;
    }

    .about-me > #text-aboutme {
        font-size: 16px;
        width: 100%;
    }

    .social-midias button {
        font-size: 16px;
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: #92A7C8;
        font-size: 15px;
        cursor: pointer;
    }

    .social-midias a {
        width: 165px;
        text-decoration: none;
    }

    .social-midias img {
        width: 20px;
        height: 20px;
    }

}
}
