@import url('../index.css');

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0px 120px;
    overflow: hidden;
    flex-direction: column;
}

@keyframes roll_image {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

.skills {
    display: flex;
    color: #92A7C8;
    justify-content: space-between;
    padding: 50px 0;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.skills #tittle {
    font-size: 45px;
    padding: 0 0 50px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.skills #tittle span {
    font-size: 25px;
}

.skills #text {
    font-size: 20px;
    width: 470px;
    margin-bottom: 30px; /* Espaçamento entre o texto e as linguagens */
    text-align: left; /* Alinhar o texto à esquerda */
}

.languages {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.languages img {
    width: 80px; /* Aumenta o tamanho das imagens */
    height: 80px; /* Aumenta o tamanho das imagens */
}

.languages > .skills-top,
.languages > .skills-bottom {
    display: flex;
    align-items: center;
    gap: 15px;
}

.languages img:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

button {
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    color: #92A7C8;
    border: 2px solid #92A7C8;
    padding-bottom:;
}

button:hover {
    transform: scale(1.02);
    background-color: rgba(146, 167, 200, 0.4);
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 52px;
        gap: 20px;
    }

    .skills {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .skills #tittle {
        text-align: center;
        font-size: 26px;
        padding-bottom: 8px;
    }

    .skills #tittle span {
        font-size: 15px;
    }

    .skills #text {
        text-align: left;
        font-size: 15px;
        width: 100%;
        max-width: 350px;
        margin-bottom: 20px;
    }

    .languages img {
        width: 60px; 
        height: 60px; 
    }

    button {
        width: 150px;
        font-size: 16px;
    }
    
}

@media screen and (max-width: 480px) {
    body {
        display:flex;
        padding: 50px;
        gap: 20px;
    }

    .skills #text {
        font-size: 18px;
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
    }

    .skills #tittle {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .skills #tittle span {
        font-size: 12px;
    }

    .languages img {
        width: 50px; 
        height: 50px; 
    }

    button {
        width: 100px;
        height: 28px;
        font-size: 13px;
        gap: 5px;
    }

    button img {
        width: 13px;
        height: 13px;
    }
}
